h1 { 
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: yellow;
    font-style: italic;
    line-height: 2;
    text-align: center;
    text-decoration: underline;
}

.alterarBackground {
    background-color: coral;
}

p {
    font-weight: 600;
    font-size: 3em;
}

body {
    font-size: 16px;
}

#amareloList {
    background-color: yellow;
}
#vermelhoList {
    background-color: red;
}
#marromList {
    background-color: brown;
}