.frases-ordenadas {
    background-color: yellow; 
}

ol.frases-ordenadas li:nth-of-type(odd) {
    text-transform: uppercase;
}
ol.frases-ordenadas li:nth-of-type(even) {
    color : green
}


h1, h3 {
    color: red;
}
h1 em , h3 em {
    font-size: 40px;
    border: 1px solid black;
}


li { 
    font-size: 20px;
}
li em {
    font-weight: 600;
}

.frases-ordenadas#programacao li:not(:nth-of-type(n + 4)){
    color: blue;
}

.frases-ordenadas#programacao [li*="Java*"] {
    background-color: pink;
}


#aliados li a:hover {
    font-weight: 700;
  }

  #aliados li a[href*="stackoverflow"] {
    color: orange;
  }

  #aliados li a[href*="w3s"] {
    color: green;
  }

  #aliados li a[href*="mdn"] {
    color: red;
  }

  #aliados li a[href*="devdocs"] {
    color: pink;
  }

  #aliados li a[href*="trybe"] {
    color: greenyellow;
  }

